*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--corBranca);
}
:root{
    --corBranca:white;
    --corPreta:black;
    --corNavBar:#282d43cc;
    --corBackGroundNavBarButton:#060c11;
    --corBackGroundAll:#15171e;
    --corNavBar:#222639f2;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--corBackGroundAll);
    align-items: center;
    justify-content: center;

}
/* INICIO HEADER */
header{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
    width: 70%;
    height: 80px;
    background-color: var(--corNavBar);
}
#logo-blizzard{
    width: 80px;
    
}
ul{
gap: 80px;
display: flex;
align-items: center;
justify-content: center;
}
#user-image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
a,li{
    text-decoration: none;
    list-style-type: none;
}

#lado-esquerdo{
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
}
#lado-direito{
    margin-right:20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-donwload{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--corBackGroundNavBarButton);
    border: none;
    width: 220px;
    height: 50px;
    border-radius: 10px;
}
#button-donwload:hover{
    background-color: #04003d;
}
a:hover{
    color: #ffffff50;
}
#image-donwload{
    width: 30px;
    
}
.gameFonte,.mudaFonte{
    font-size:18px;
}
#alinha-icone{
    display: flex;
   justify-content: center;
   align-items: center;
}
/* FIM HEADER */

/* INICIO MAIN */
main{
    margin-top: 40px;
    width: 70%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0);
}
.banner{
   width: 100%;
   height: 500px;
   background-image: url(/images/banner.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   
}
#toop-side-tittle{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    height: 100px;
    background-color:var(--corBackGroundAll);
}
 #jogosEmDestaque{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 100px;
    background-color: var(--corBackGroundAll);
 }
 #jogosEmDestaque h1{
    font-size: 40px;
 }
 #dispositivos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: 100px;
    font-size: 14px;
    background-color:var(--corBackGroundAll);
    
 }
 p{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding:2% 5%;
    background-color: rgba(240, 248, 255, 0.226);
    border-radius: 20px;
 }
 #dispositivos p:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.541);
 }
 /* CONTAINER BOX */
 #container-box{
    display: block;
 
 }
 .containers-box{
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-bottom: 3%;
 }
 
 .box-card{
    margin-top: 3%;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    background-color: aqua;
    border: solid 1px black;
 }
 /* FIM CONTAINER BOX */
/* FIM MAIN */